<p id="notice"><%= notice %></p>

<div class="ui">
  <a class="ui labeled icon button" href="<%= quarters_path %>">
    <i class="up arrow icon"></i>
    List Quarters
  </a>
  <a class="ui basic icon button" href="<%= edit_quarter_path(@quarter) %>">
    <i class="edit icon"></i>
    Edit
  </a>
</div>

<div class="ui hidden divider"></div>

<div class="ui vertical masthead center aligned segment">
  <h1 class="ui header">Quarter</h1>
</div>

<div class="ui text container">

  <p>
    <strong>Name:</strong>
    <%= @quarter.name -%>
  </p>

  <p>
    <strong>Quarter:</strong>
    <%= @quarter.quarter -%>
  </p>

  <p>
    <strong>Datetimesemanticzoomout:</strong>
    <% if !@quarter.datetimeSemanticZoomOut.nil? -%>
      <% @quarter.datetimeSemanticZoomOut.each do |datetimeSemanticZoomOut| -%>
        <%= link_to datetimeSemanticZoomOut.name, datetimeSemanticZoomOut %>
      <% end -%>
    <% end -%>
  </p>

  <p>
    <strong>Datetimesemanticzoomin:</strong>
    <% if !@quarter.datetimeSemanticZoomIn.nil? -%>
      <% @quarter.datetimeSemanticZoomIn.each do |datetimeSemanticZoomIn| -%>
        <%= link_to datetimeSemanticZoomIn.name, datetimeSemanticZoomIn %>
      <% end -%>
    <% end -%>
  </p>
</div>
