<div class="ui text container">
  <div class="ui form">
    <%= form_for(@second) do |f| %>
      <% if @second.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@second.errors.count, "error") %> prohibited this second from being saved:</h2>
          <ul>
            <% @second.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

                        <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
          </div>
                                <div class="field">
            <%= f.label :normalized_name %><br>
            <%= f.text_field :normalized_name %>
          </div>
                                <div class="field">
            <%= f.label :second %><br>
            <%= f.text_field :second %>
          </div>
                                <div class="field">
            <%= f.label :unixtime %><br>
            <%= f.text_field :unixtime %>
          </div>
                                <div class="field">
            <%= f.label :datetimeSemanticZoomOut_id %><br>
            <%= f.text_field :datetimeSemanticZoomOut_id %>
          </div>
                                <div class="field">
            <%= f.label :datetimeSemanticZoomIn_id %><br>
            <%= f.text_field :datetimeSemanticZoomIn_id %>
          </div>
              
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

<script>
$('#artefact_tags')
  .dropdown()
;
</script>
