<div class="ui text container">
  <div class="ui form">
    <%= form_for(@second) do |f| %>
      <% if @second.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@second.errors.count, "error") %> prohibited this second from being saved:</h2>
          <ul>
            <% @second.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


            <div class="field">
              <%= f.label :name %><br>
              <%= f.text_field :name %>
            </div>
          
  

            <div class="field">
              <%= f.label :second %><br>
              <%= f.text_field :second %>
            </div>
          
  

            <div class="field">
              <%= f.label :unixtime %><br>
              <%= f.text_field :unixtime %>
            </div>
          
  

         
            <div class="field">
              <%= f.label :datetimeSemanticZoomOut_id %><br>
              
              # Edit the Class.all.sort to the Class name of the connected node (such as `GeospatialNode.all.sort`)
              <%= f.collection_select(:datetimeSemanticZoomOut, Class.all.sort { |a,b| a.name <=> b.name }, :id, :name, options = {:prompt => "Please Select an Item", :selected => @second.datetimeSemanticZoomOut.map(&:id)}, html_options = {:multiple => true, :class=>"search"}) %>
            </div>

  

         
            <div class="field">
              <%= f.label :datetimeSemanticZoomIn_id %><br>
              
              # Edit the Class.all.sort to the Class name of the connected node (such as `GeospatialNode.all.sort`)
              <%= f.collection_select(:datetimeSemanticZoomIn, Class.all.sort { |a,b| a.name <=> b.name }, :id, :name, options = {:prompt => "Please Select an Item", :selected => @second.datetimeSemanticZoomIn.map(&:id)}, html_options = {:multiple => true, :class=>"search"}) %>
            </div>

  

      <div class="actions">
        <%= f.submit html_options = {:class=>"ui button"} %>
      </div>
    <% end %>
  </div>
</div>

<script>
$('.search')
  .dropdown()
;
</script>
