<p id="notice"><%= notice %></p>

<div class="ui text container">
  <h1 class="ui dividing header">Audio Recording Fragment</h1>
</div>

<div class="ui text container">
      <p>
      <strong>Name:</strong>
              <%= @audio_recording_fragment.name %>
          </p>
      <p>
      <strong>Origionalartefact:</strong>
              <% if @audio_recording_fragment.origionalArtefact -%>
          <% @audio_recording_fragment.origionalArtefact.each do |origionalArtefact| -%>
            <%= link_to origionalArtefact.name, origionalArtefact %>
          <% end -%>
        <% end -%>
          </p>
      <p>
      <strong>Previous:</strong>
              <% if @audio_recording_fragment.previous -%>
          <% @audio_recording_fragment.previous.each do |previous| -%>
            <%= link_to previous.name, previous %>
          <% end -%>
        <% end -%>
          </p>
  </div>

<%= link_to 'Edit', edit_audio_recording_fragment_path(@audio_recording_fragment) %> |
<%= link_to 'Back', audio_recording_fragments_path %>
