<p id="notice"><%= notice %></p>

<div class="ui very padded container ">
  <h1>Absolute Date Time Roots</h1>

  <table class="ui very basic celled table">
    <thead>
      <tr>
                  <th>Name</th>
                <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @absolute_date_time_roots.limit(45).each do |absolute_date_time_root| %>
        <tr>
                                    <td><%= absolute_date_time_root.name %></td>
                                <td><%= link_to 'Show', absolute_date_time_root %></td>
          <td><%= link_to 'Edit', edit_absolute_date_time_root_path(absolute_date_time_root) %></td>
          <td><%= link_to 'Destroy', absolute_date_time_root, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Absolute Date Time Root', new_absolute_date_time_root_path %>
</div>
