<div class="ui text container">
  <div class="ui form">
    <%= form_for(@absolute_date_node) do |f| %>
      <% if @absolute_date_node.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@absolute_date_node.errors.count, "error") %> prohibited this absolute_date_node from being saved:</h2>
          <ul>
            <% @absolute_date_node.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


            <div class="field">
              <%= f.label :name %><br>
              <%= f.text_field :name %>
            </div>
          
  

         
            <div class="field">
              <%= f.label :artefacts_id %><br>
              
              # Edit the Class.all.sort to the Class name of the connected node (such as `GeospatialNode.all.sort`)
              <%# clazz = @absolute_date_node.class.associations[:artefacts].model_class %>

              <%#= f.collection_select(:artefacts, Artefact.all.sort { |a,b| a.name <=> b.name }, :id, :name, options = {:prompt => "Please Select an Item", :selected => @absolute_date_node.artefacts.map(&:id)}, html_options = {:multiple => true, :class=>"search"}) %>
              <%= f.collection_select(:artefacts, Artefact.order(:name), :id, :name, options = {:prompt => "Please Select an Item", :selected => @absolute_date_node.artefacts.pluck(:id)}, html_options = {:multiple => true, :class=>"search"}) %>
              <%#= f.collection_select(:artefacts, clazz.all.sort { |a,b| a.name <=> b.name }, :id, :name, options = {:prompt => "Please Select an Item", :selected => @absolute_date_node.artefacts.map(&:id)}, html_options = {:multiple => true, :class=>"search"}) %>
            </div>

  

      <div class="actions">
        <%= f.submit html_options = {:class=>"ui button"} %>
      </div>
    <% end %>
  </div>
</div>

<script>
$('.search')
  .dropdown()
;
</script>
