<p id="notice"><%= notice %></p>

<div class="ui">
  <a class="ui labeled icon button" href="<%= days_path %>">
    <i class="up arrow icon"></i>
    List Days
  </a>
  <a class="ui basic icon button" href="<%= edit_day_path(@day) %>">
    <i class="edit icon"></i>
    Edit
  </a>
</div>

<div class="ui hidden divider"></div>

<div class="ui vertical masthead center aligned segment">
  <h1 class="ui header">Day</h1>
</div>

<div class="ui text container">

  <p>
    <strong>Name:</strong>
    <%= @day.name -%>
  </p>

  <p>
    <strong>Day:</strong>
    <%= @day.day -%>
  </p>

  <p>
    <strong>Datetimesemanticzoomout:</strong>
    <% if !@day.datetimeSemanticZoomOut.nil? -%>
      <% @day.datetimeSemanticZoomOut.each do |datetimeSemanticZoomOut| -%>
        <%= link_to datetimeSemanticZoomOut.name, datetimeSemanticZoomOut %>
      <% end -%>
    <% end -%>
  </p>

  <p>
    <strong>Datetimesemanticzoomin:</strong>
    <% if !@day.datetimeSemanticZoomIn.nil? -%>
      <% @day.datetimeSemanticZoomIn.each do |datetimeSemanticZoomIn| -%>
        <%= link_to datetimeSemanticZoomIn.name, datetimeSemanticZoomIn %>
      <% end -%>
    <% end -%>
  </p>
</div>
