<p id="notice"><%= notice %></p>

<div class="ui text container">
  <h1 class="ui dividing header">Year</h1>
</div>

<div class="ui text container">
      <p>
      <strong>Name:</strong>
              <%= @year.name %>
          </p>
      <p>
      <strong>Normalized name:</strong>
              <%= @year.normalized_name %>
          </p>
      <p>
      <strong>Year:</strong>
              <%= @year.year %>
          </p>
      <p>
      <strong>Datetimesemanticzoomout:</strong>
              <% if @year.datetimeSemanticZoomOut -%>
          <% @year.datetimeSemanticZoomOut.each do |datetimeSemanticZoomOut| -%>
            <%= link_to datetimeSemanticZoomOut.name, datetimeSemanticZoomOut %>
          <% end -%>
        <% end -%>
          </p>
      <p>
      <strong>Datetimesemanticzoomin:</strong>
              <% if @year.datetimeSemanticZoomIn -%>
          <% @year.datetimeSemanticZoomIn.each do |datetimeSemanticZoomIn| -%>
            <%= link_to datetimeSemanticZoomIn.name, datetimeSemanticZoomIn %>
          <% end -%>
        <% end -%>
          </p>
  </div>

<%= link_to 'Edit', edit_year_path(@year) %> |
<%= link_to 'Back', years_path %>
